*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body {
    font-size: 100pt;
    width:100vw;
}
#dot{
  position:absolute;
  bottom:0;
  transition: all 2s;
}
#dot:hover{
  transition: all 2s;
  
}
